@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@300 & display=swap');

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(26, 23, 23, 0.963);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 13%;
    overflow: hidden;
    z-index: 5000;
}

/*Links derecha*/
.nav-derecha {
    align-items: center;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.nav-derecha li {
    display: inline;
    text-align: center;
}

.nav-derecha a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
    color: rgb(180, 180, 186);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    transition: .6s;
}

.nav-derecha a:hover {

    color: rgb(255, 0, 0);
}

/*Links izquierda*/
.nav-izquierda {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-izquierda li {
    display: inline;
}

.nav-izquierda a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 2rem;
    color: rgb(180, 180, 186);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    transition: .6s;
}

.nav-izquierda a:hover {
    color: rgb(255, 0, 0);
}

/*Logo*/
.logo-nav {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    color: white;
    justify-content: start;
   
}
.logo-nav img{
    cursor: pointer;
    width: 130px;
    height: 95px;
    
}
/*Menu hamburguesa*/
.boton-hamburguesa{
    color:rgb(255, 0, 0) ;
}

.menu-hamburguesa a{
    text-decoration: none;
}
.menu-hamburguesa h5{
    margin-left: .4rem;
    margin-top: 1rem;
}
.span-menu{
    margin-left: 1rem;
}
.contenedor-nav .nav-izquierda .nav-link:active,
.contenedor-nav .nav-izquierda .nav-link:active,
.contenedor-nav .nav-izquierda .nav-link:focus {
  color: #fff;
  background-color: #007bff;
}
@media screen and (max-width:1335px){
    .nav-izquierda a{
        margin-right: 1rem;
    }
}
@media screen and (max-width:1174px){
    .contenedor-nav{
        height: 18%;
    }
    .nav-izquierda a{
        padding: .6rem;
    }
    .nav-izquierda{
        padding-left: 1.3rem;
    }
}
@media screen and (max-width:913px){
    .nav-derecha a{
        margin: 5px;
    }
}
@media screen and (max-width:777px){
    .nav-derecha a{
        font-size: 14px;
    }
    .nav-izquierda a{
        padding: .6rem;
        font-size: 14px;
    }
    .contenedor-nav{
        height: 28%;
    }
   
}
@media screen and (max-width:775px){
    .nav-izquierda a{
        padding:.6srem;
        font-size: 13px;
    }
    .nav-derecha a{
        margin: 12px;
        padding: 0;
    }
}

@media screen and (max-width:600px){
    .contenedor-nav{
        height: 15%;
    }
}
