@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@300 & display=swap');

.landing_container {
    width: -webkit-fill-available;
    left: 0px;
    top: 60px;
}

.landing_navigate_container {
    display: flex;
    bottom: 0px;
    left: 0px;
    height: 80px;

}

.navigate_options_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    z-index: 5000;
    bottom: 0px;
    background-color: transparent;
    height:80px;
    margin-bottom: 0px;
    background-color: #9b0000cc;
}

.navigate_item {
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    transition: 0.2s linear;
    justify-content: space-between;
    display: flex;
    padding-left: 83px;
}

.navigate_item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.2s linear;

}

.navigate_item svg {
    transition: 0.2s linear;
}

.navigate_item:hover svg {
    font-size: 45px !important;
}

.navigate_item p {
    margin: 3px;
}


.search_box {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    bottom: 130px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.search_box--show {
    opacity: 1;
}


.contenedor-opciones {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.675);
    width: 100%;
    overflow: hidden;
    z-index: 5000;
    margin-top: 20px;
}

.contenedor-opciones a {
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenedor-footer {
    top: 1200px;
}

.sumate-a-nosotros {
    width: 100%;
    height: max-content;
    background-color: rgba(26, 23, 23, 0.963);
    color: red;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sumate-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumate-contenedor-items {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border: none;

}

.boton button {
    background-color: transparent;
    color: #c31420;
    font-size: 17px;
    text-transform: uppercase;
    transition: .5s;
    background-color: transparent;
    border: none;

}

.boton button:hover {
    color: #ff0011;
    text-decoration: underline;
    cursor: pointer;
}

.contenedor-mas-destacado {
    padding: 40px;
    background-color: rgba(26, 23, 23, 0.963);
    font-family: 'Kanit', sans-serif;
}

.cambiar-color {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    word-spacing: 1rem;
    background: linear-gradient(to right, #c31420, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: cambiar-color 3s linear infinite;
    text-decoration: underline;
    padding-top: 100px;
    padding-bottom: 60px;

}

@keyframes cambiar-color {
    0% {
        text-shadow: 0 0 1px #c31420, 0 0 2px #c31420, 0 0 3px #c31420, 0 0 4px #c31420;
    }

    50% {
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;
    }

    100% {
        text-shadow: 0 0 1px #c31420, 0 0 2px #c31420, 0 0 3px #c31420, 0 0 4px #c31420;
    }
}

.contenedor-motos {
    display: flex;
    padding: 60px;
}



.mas-destacado-items {
    width: 100%;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.963);
    border: none;
}

.mas-destacado-logo {
    width: 500px;
    height: 350px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    position: relative;
}


.mas-destacado-logo p {
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    left: 3%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 1;
}
.img-bicicletas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    filter: grayscale(100%);
}
.p-bicicletas{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    top: 40%!important;
    left: 25%!important;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 0.5;
}

.img-motos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    filter: grayscale(100%);
}
.p-motos{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    left: 35%!important;
    top: 40%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 1;
}

.img-cascos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    filter: grayscale(100%);
}
.p-cascos{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    left: 30%!important;
    top: 40%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 1;
}
.img-equip{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    filter: grayscale(100%);
}
.p-equip{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    left: 13%!important;
    top: 40%!important;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 1;
}
.img-indu{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    filter: grayscale(100%);
}
.p-indu{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    left: 15%!important;
    top: 40%!important;
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 1;
}