.contenedor-main{
    margin-top: 7%;
  
}
.contenedor-img{
    width: 100%;
    height: 800px;
    display: flex;
    left: 0;
    right: 0;
    
}
.img-main{
    text-align: center;
    object-fit: fill;
    width: 100%;
    height: 800px;
}