@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@300 & display=swap');

.landing_container {
    width: -webkit-fill-available;
    left: 0px;
    top: 60px;
}
.landing_navigate_container {
    display: flex;
    bottom: 0px;
    left: 0px;
    height: 100px;
    
}
.navigate_options_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 100%; 
    overflow: hidden;
    z-index: 5000;
    bottom: 0px;
    background-color: #323f83bd;
    height: 100px;
    margin-bottom: 0px;
}
.navigate_item {
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    transition: 0.2s linear;
    
}
.navigate_item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
    font-family: 'Kanit', sans-serif;
    color:white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.2s linear;
}
.navigate_item svg {
    transition: 0.2s linear;
}
.navigate_item:hover svg {
    font-size: 45px !important;
}
.navigate_item p {
    margin: 3px;
}


.search_box {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    bottom: 130px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.search_box--show {
    opacity: 1;
}


.contenedor-opciones{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0.675);
    width: 100%; 
    overflow: hidden;
    z-index: 5000;
    margin-top: 20px;
}
.contenedor-opciones a{
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenedor-footer {
    top:1200px;
}
.sumate-a-nosotros{
    width: 100%;
    height: 200px;
    background-color: rgba(26, 23, 23, 0.963);
    color: red;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

.sumate-items{
display: flex;
flex-direction: column;
align-items: center;
}
.sumate-contenedor-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.boton button{
    background-color: transparent;
    color: #c31420;
    font-size: 17px;
    text-transform: uppercase;
    transition: .5s;
    
}
.boton button:hover{
    color: #ff0011;
    text-decoration: underline;
    cursor: pointer;
}

