@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@300 & display=swap');
.cards_container {
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    width: 230px;
    position: relative;
    font-family: 'Kanit', sans-serif;
    transition: 0.8s ease;
    margin: 5px;
}
.card:hover{
    box-shadow: 2px 2px 2px 2px rgba(85, 84, 84, 0.26);
}

.card-content {
    position: relative;
}

.card-content img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-top-right-radius:1rem ;
    border-top-left-radius:1rem ;
}
.card button{
    margin-top: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.card:hover .overlay {
    opacity: 1;
}

.modal {
    position: absolute;
    transform: translate(+130%, +0%);
    background-color: rgba(26, 23, 23, 0.963);
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 9px rgba(85, 84, 84, 0.26);
    z-index: 1;
    max-width: 300px;
    display: none;
    padding: .5rem;
    text-align: start;
}

.card:hover .modal {
    display: block;
}

.modal p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.modal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modal li {
    font-size: 13px;
    margin-bottom: 5px;
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p.price {
    font-size: 1.25rem;
    font-weight: bold;
}

.card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card button {
    background-color: rgb(0, 0, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 255);
    border: solid 1px rgb(0, 0, 255);
}